= form_for @thought do |f|
	= f.text_field :title, placeholder: "Title" 
	%br
	%br
	= f.text_area :text, placeholder: "Text", size: "25x7"
	%br
	%br
	= f.text_field :source, placeholder: "Source"
	%br
	%br
	= f.submit "Create"
	%br
	%br
= link_to "Go Back", thoughts_path